/* mobile */
@media (max-width: 710px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }
    .s-mt-8 {
        margin-top: 8px;
    }
    #nav {
        display: block;
    }
    #nav >li {
        display: block;
    }
    /* #nav >li:first-child {
        display: inline-block;
    } */
    #nav .subnav {
        position: initial;
        background-color: #333;
        display: none;
    }
    #nav .subnav a {
        color: #fff;
        padding: 6px 30px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    #nav li a {
        padding: 1px 24px;
    }
    #content .members-steam {
        margin-top: 32px;
        width : 100%;
    }
    #content .members-img {
        width :60%;
    }
    #content .about-text {
        padding-left: 8px;
    }
    #header {
        overflow: hidden;
    }
   #header .mobile-menu-btn {
       display: block;
   }
   #tour .place_iteam {
       width: 100%;
   }
    #header .search-btn {
        display: none;
    }
    .contact-form {
        margin-top: 16px;
    }
    .contact-form .form-control {
        margin-bottom: 8px;
    }


    .nav-sub-more{
        position: initial !important;
    }
}