/* Reset css */
*{
    /* Emet*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text-white{
    color: #fff !important ;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.pull-right {
    float: right !important;
}
.clear{ 
    clear:both;
}
.row::after {   /*dung ma gia */
    content: "";
    display: block;
    clear: both;
}   
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.pull-right {
    float: right;
}
.btn{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 9px 7px;
    display: inline-block;
    margin-top: 19px;
    border: none;
    text-align: center;
}
.btn:hover{
    cursor: pointer;
    color:#000;
    background-color: #ccc;
}
#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

#nav .subnav{
    list-style-type: none;
}
#nav li{
    position: relative;
}
#nav >li{
    display:inline-block 
}
#nav>li>a{
    text-transform: uppercase;
    color: #fff;
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding :0px  24px;
    display: block;
}
#nav .subnav li:hover a,
#nav >li:hover> a{
    color: #000;
    background-color: #ccc;
}
#nav{
    display: inline-block;
}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav {
    min-width: 160px;
    top :100%;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    background-color: #fff;
    left: 0;
}
#nav .nav-arrow-down {
    font-size: 14px ;
}
#nav .subnav a{
    line-height: 38px;
    padding: 0 15px;
    color: #000;
}
#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header  .search-btn{
    padding: 0px 21px;
    float:right;
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336!important;
}
#header .mobile-menu-btn:hover {
    background: #ccc;
    color: black;
}
#header .menu-icon ,
#header .search-icon {
    line-height: 46px;
    color:#fff;
    font-size: 20px;
}
#slider{ 
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
     background:url('/asets/img/slider/slider2.jpg') top center / cover no-repeat
}
#slider .text-heading{
    font-weight: 700;
    font-size: 24px;
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    width: 100%;
    color: slateblue;
    text-align: center;
}
#slider .text-decription{
    font-weight: 650;
    font-size: 25px;
    margin-top: 25px;
}
#content .content-section{
    padding: 64px 0 112px ;
    width: 800px;
    padding-left: 8px;
    padding-right: 16px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    /* margin-top: 26px; */
    padding-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    line-height: 1.4;
    font-size: 15px;
    padding-top: 25px;
    /* margin-top: 26px; */
    text-align: justify;
}
#content .members-list{
    margin-top: 48px;
    overflow: hidden;
}
#content .clear{
    clear: both;
}
#content .members-iteam{
    width: 33.333333333%;
    float: left;
    text-align: center ; /* chinh chu ra giua */
}
#content .members-name{
    font-size: 15px;
}
#content .members-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
.tour-section{
    background-color: #000;
    padding-bottom: 48px;
}
.ticket-list{
    list-style: none;
    background-color: #fff;
    margin-top:50px;
}
.ticket-list    li{
    color: #757575;
    padding: 11px 16px;
    border-bottom: 2px solid #ddd;
}
.ticket-list .sold-out{
    font-size: 15px;
    background: #f44336;
    color: #fff;
    padding: 6px 4px;
    margin-left: 16px;
}
.ticket-list .quanty{
    float: right;
    width: 24px;
    height: 24px;
    width: 2;
    background-color: #000;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 24px;
    margin-top: -2px;

}
.place-list{
    margin-top: 16px;
    margin-left: -8px;
    margin-right: -8px;
    
}
.place_iteam{
    float:left;
    width: 33.33333%;
    padding:0 8px;
}
.place-img{
    width:100%;
    display: block;
}
.place-img:hover{
    opacity: 0.5;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-dsc{
    margin-top: 15px;
   line-height: 1.4;
}

/* .contact-content{
    margin-to   p: 48px;
} */
.contact-info {
    font-size: 18px;
    line-height: 1.4;
    font-style:normal ;
    margin-top: 48px;
}
.contact-info i[class*="ti-"]   {
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    padding: 7px;
    border: 1px solid #ccc;
    width:100%;
}
/* map-section */
.map-section img {
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .copy-right {
    margin-top: 16px;
    color: rgba(0,0,0,0.6);
}
#footer .social-list {
    font-size: 24px;
}
#footer .social-list a {
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}
#footer .social-list p {
   font-size: 16px;
}
#footer .social-list a:hover {
    color: rgba(0,0,0,0.3);
}

.nav-sub-more{
    position: fixed !important;
}
/* modal */
.modal {
    /* position: fixed de len phu len  */
    position: fixed;  
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
 .modal-open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 16px);
    animation: modalFaceIn ease 0.5s;
}
.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;  /* can giua chieu cao*/
    justify-content: center; /* can giua chieu dai*/
    font-size: 30px;
    color: #fff;
}
.header-icon{
    margin-right: 6px;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover{
    background-color: rgba(247, 234, 234, 0.719);
    opacity: 1;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    list-style: none;
    margin-bottom: 24px;
}
#buy-tickets {
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    /* text-transform: uppercase dung de viet dam chu len  */
    text-transform: uppercase;
    padding: 12px;
}
#buy-tickets:hover{
    background-color: green;
    cursor: pointer;
}
.modal-footer{
    padding: 16px;
    text-align: right;
    
}
.modal-footer a {
    color:#2196F3 ;
    text-decoration: none;
}
@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}